body {
    background:  rgb(173, 173, 234);
    font-family: Arial, sans-serif;
    text-align: center;
}
h2, h3 {
    font-weight: bold;
}
.formBox, .editProduct-content {
    width: 300px;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 8px;
}
input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}
button {
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}
th, td {
    padding: 10px;
    border: 1px solid #999;
}
button.edit {
    background: orange;
}
button.delete {
    background: red;
    color: white;
}
.editProduct {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}
.editProduct-content {
    margin-top: 100px;
}
