body {
    background:  rgb(173, 173, 234);
    font-family: Arial, sans-serif;
    text-align: center;
}
h2, h3 {
    font-weight: bold;
}
.formBox, .editProduct-content {
    width: 300px;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 8px;
}
