body {background: rgb(169, 169, 239);
    font-family: Arial;
    margin: 40px;
}
.box {
    width: 300px;
    padding: 8px;
    margin-top: 10px;
    display: block;
}
button {
    margin-top: 15px;
    padding: 10px;
    width: 318px;
    background: #333;
    color: white;
}
button{background: #444;}

a {font-size: 14px;}


